.article{
	margin: 8px 0 0;
	//desktop
	@include break1{
		margin: 0;
		padding: 0 80px 0 0;
		overflow: hidden;
	}
	&_title{
		margin: 0 0 15px;
		padding: 0 20px;
	  font-size: 23px;
	  //tablet
	  @include break2{
	  	font-size: 26px;
	  }
	  //desktop
	  @include break1{
	  	margin: 0 0 42px;
	  	padding: 0;
	  	font-size: 35px;
	  }
	}
	&_paragraph{
		margin: 0 0 15px;
		padding: 0 20px;
	  font-size: 12px;
	  line-height: 14px;
	  //tablet
	  @include break2{
	  	font-size: 15px;
	  	line-height: 18px;
	  }
	  //desktop
	  @include break1{
	  	padding: 0;
	  }
	}
}