.calculator{
	background-color: rgba(45, 45, 45, .85);
	margin: 26px 0 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  border: 1px solid #747474;
  position: relative;
  transition: opacity 0.2s 0.1s,
              height 0.2s;
  //triangle with borders              
	&:before{
		content: "";
    position: absolute;
    top: -14px;
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #747474;
    border-width: 0 11px 14px 11px;
	}
	&:after{
		content: "";
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #2a2a2b;
    border-width: 0 10px 13px 10px;
	}
  .experience_item:hover &{
    height: 333px;
    opacity: 1;
    overflow: visible;
  }
  
  //tablet
  @include break2{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
  }

  //desktop
  @include break1{
    display: block;
    margin: 0 0 -2px;
    padding: 0 0 15px;
    top: auto;
    bottom: 100%;
    width: 500px;
    height: auto;
    border: 2px solid #747474;
    visibility: hidden;
    opacity: 0;
    &__show{
      visibility: visible;
      opacity: 1;
    }
    //hover cancel
    .experience_item:hover &{
      height: auto;
      border: 2px solid #747474;
    }
    //triangles location
    &:before{
      margin-left: -26px;
      top: auto;
      bottom: -36px;
      left: 50%;
      border-top-color: #747474;
      border-width: 36px 26px 0 26px;
    }
    &:after{
      margin-left: -24px;
      top: auto;
      bottom: -33px;
      left: 50%; 
      border-top-color: #2a2a2b;
      border-width: 34px 24px 0 24px;
    }
    .experience_item:nth-child(3n-2) &{
      &:before{
        margin: 0;
        left: 43px;
      }
      &:after{
        margin: 0;
        left: 45px;
      }
    }
    .experience_item:nth-child(3n-1) &{
      left: -120px;
    }
    .experience_item:nth-child(3n) &{
      right: 22px;
      left: auto;
      &:before{
        margin: 0;  
        right: 43px;
        left: auto;
      }
      &:after{
        margin: 0;   
        right: 45px;
        left: auto;
      }
    }

    //first 3 items
    .experience_item:nth-child(1) &{
      margin: -10px 0 0;
      top: 100%;
      bottom: auto;
      left: 22px;
      &:before{
        margin: 0; 
        top: -36px;
        bottom: auto;
        left: 43px;
        border-width: 0 26px 36px 26px;
      }
      &:after{
        margin: 0;
        top: -33px;
        bottom: auto;
        left: 45px;
        border-width: 0 24px 34px 24px;
      }
    }
    .experience_item:nth-child(2) &{
      margin: -10px 0 0;
      top: 100%;
      bottom: auto;
      left: -120px;
      &:before{
        top: -36px;
        bottom: auto; 
        border-width: 0 26px 36px 26px;
      }
      &:after{
        top: -34px;
        bottom: auto; 
        border-width: 0 24px 34px 24px;
      }
    }
    .experience_item:nth-child(3) &{
      margin: -10px 0 0;
      top: 100%;  
      right: 22px;
      bottom: auto;
      left: auto;
      &:before{
        margin: 0;
        top: -36px;
        right: 43px;
        bottom: auto;
        left: auto;
        border-width: 0 26px 36px 26px;
      }
      &:after{
        margin: 0;   
        top: -34px;
        right: 45px;
        bottom: auto;
        left: auto;
        border-width: 0 24px 34px 24px;
      }
    }
    //--first 3 items
  }


  //ie8
  @include old-ie{
    background-color: #2d2d2d;
    border: none;
    //cancel css triangle
    &:before{
      border: none;
      display: block;
      width: 17px;
      height: 11px;
      position: absolute;
      top: -11px;
      background: transparent url('../images/calculator-triangle-small-ie.png') left top no-repeat;
    }
    &:after{
      display: none;
    }
    .experience_item:hover &{
      border: 1px solid #747474;
    }
    @include break1{
      display: none;
      visibility: visible;
      &__show{
        display: block;
      }
      &:before{
        content: '';
        margin-left: -26px;
        width: 51px;
        height: 36px;
        top: auto;
        bottom: -36px;
        left: 50%;        
        background: transparent url('../images/calculator-triangle-ie.png') left -36px no-repeat;
      }
      //for 12 items
      .experience_item:first-child &,
      .experience_item:first-child + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * + * + * + * &{
        &:before{
          margin: 0;
          left: 43px;
        }
      }
      .experience_item:first-child + * &,
      .experience_item:first-child + * + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * + * + * + * + * &{
        left: -120px;
      }
      .experience_item:first-child + * + * &,
      .experience_item:first-child + * + * + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * + * + * &,
      .experience_item:first-child + * + * + * + * + * + * + * + * + * + * + * &{
        right: 22px;
        left: auto;  
        &:before{
          margin: 0;
          right: 43px;
          left: auto;      
        }
      }
      //first 3 items
      .experience_item:first-child &{
        margin: -10px 0 0;
        top: 100%;
        bottom: auto;
        left: 22px;
        &:before{
          top: -36px;
          bottom: auto;
          left: 43px;
          background-position: 0 0;
        }
      }
      .experience_item:first-child + * &{
        margin: -10px 0 0;
        top: 100%;
        bottom: auto;
        left: -120px;
        &:before{
          margin: 0;
          top: -36px;
          bottom: auto; 
          background-position: 0 0;
        }
      }
      .experience_item:first-child + * + * &{
        margin: -10px 0 0;
        top: 100%;
        bottom: auto;
        left: auto;
        right: 22px;
        &:before{
          top: -36px;
          bottom: auto;
          right: 43px;
          left: auto;    
          background-position: 0 0;
        }
      }
    }
  }
  //--ie8
}