.components{
	margin: 0 0 26px;
	text-align: left;
	//desctop
	@include break1{
		margin: 0;
	}
	&_title{
		padding: 15px 0 12px 12px;
		font-weight: bold;
		color: #a29b70;
		font-size: 19px;
		//desctop
		@include break1{
			padding: 21px 0 16px 22px;
			font-size: 21px;
		}
	}
	&_list{
		@include clearfix;
		margin: 0 3px;
		padding: 0 0 3px;
		border-bottom: 1px solid #a3a4a6;
		//desctop
		@include break1{
			margin: 0 0 0 23px;
			padding: 0 0 6px;
			border: none;	
		}
	}
	&_item{
		padding: 0 0 3px;
		width: 33.33%;
		float: left;
		border-left: 1px solid #a3a4a6;
		text-align: center;
		&:first-child{
			border: none;
		}
		//desctop
		@include break1{
			margin: 0 0 9px;
			padding: 0;
			height: 20px;
			width: auto;
			float: none;
			border: none;
			text-align: left;
			//vertical align
			&:after{
				content: "";
				display: inline-block;
				height: 100%;
			  vertical-align: middle;  
			}
		}
	}

	//Styling radio button label
	&_radio{
		&:not(checked){
			//hide radio
			position: absolute;
  		opacity: 0;
  		@include break1{
  			margin: 0;
  			position: static;
  			opacity: 1;
  			vertical-align: middle;
  		}
		}
	}
	&_label{
		display: inline-block;
		padding: 30px 0 0;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		color: #c6c6c6;
		transition: color 0.2s;
		@include break1{
			padding: 0;
			vertical-align: middle;
		}
		.components_radio:not(checked) + &:before{
			content: '';
			margin-left: -12px;
		  width: 22px;
		  height: 22px;
		  position: absolute;
		  top: 4px;
		  left: 50%;
		  border-radius: 50%;
		  background: #dedede;
		  @include break1{
		  	display: none;
		  }
		}
		.components_radio:not(checked) + &:after{
			content: '';
			margin-left: -8px;
		  width: 14px;
		  height: 14px;
		  position: absolute;
		  top: 8px;
		  left: 50%;
		  border-radius: 50%;
		  background: #f9a936;
		  opacity: 0;
		  transition: opacity 0.2s;
		  @include break1{
		  	display: none;
		  }
		}
		.components_radio:checked + &{
			color: #f9a936;
			@include break1{
				color: #c6c6c6;
			}
		}
		.components_radio:checked + &:after{
			opacity: 1;
		}
		@include old-ie{
			padding: 0;
		}
	}
}