.experience{
	padding: 20px 0;
	@include break2{
		padding: 20px;
	}
	@include break1{
		padding: 35px 10px 95px;
		max-width: 700px;
	}
	&_list{	
		@include break2{
			@include clearfix;
		}
	}
	&_item{
		margin: 0 0 57px;
		text-align: center;
		@include break2{
			float: left;
			width: 50%;
			position: relative;
		}
		@include break1{
			margin: 0 0 114px;
			float: left;
			width: 33.33%;
		}
	}
	&_wrap{
		width: 100%;
		max-width: 265px;
		margin: 0 auto;
		padding: 0 20px;
		@include break1{
			padding: 0;
			margin: 0 auto 9px auto;
		}
	}
	&_image{
		display: block;
		width: 100%;
		height: auto;		
	}
	&_name{
		color: #b9b9b9;
		font-size: 21px;
		@include break1{
			font-size: 21px;
		}
	}
}