.header{
	padding: 3px 0 0;
	height: 60px;
	position: relative;
	z-index: 2;
	background-color: #0e0e0f;
	//desktop
	@include break1{
		padding: 0;
		height: auto;
		background-color: rgba(37, 37, 37, .75);
	}
	&_inner{
		position: relative;
		//desktop
		@include break1{
			margin: 0 auto;
			max-width: 1024px;
			@include clearfix;
		}
	}
}