.total{
	text-align: left;
	padding: 0 0 15px;
	&_title{
		padding: 15px 0 9px 12px;
		font-weight: bold;
		color: #a29b70;
		font-size: 19px;
		@include break1{
			padding: 21px 0 19px 12px;
			font-size: 21px;
		}
	}
	&_text{
		display: block;
		padding: 6px 0 0 95px;
		position: relative;
		font-size: 40px;
		font-weight: bold;
		color: #f9a936;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 3px;
			left: 21px;
			width: 43px;
			height: 43px;
			background: transparent url('../images/total-star.png') left top no-repeat;
			background-size: contain;
			@include old-ie{
				background-image: url('../images/total-star-small.png');
			}
			@include break1{
				top: 2px;
				left: 6px;
			}
		}
		@include break1{
			padding: 6px 0 0 89px;
			font-size: 42px;
		}
	}
	@include break1{
		position: absolute;
		right: 35px;
		top: 0;
	}
}