*{
  box-sizing: border-box;
}
body{
  min-width: 320px;
	background-color: #1c1c1e;
	font-family: Arial, Helvetica, sans-serif;
  color: #fff;
	@include break1{
		background: #1c1c1e url('../images/page_background.jpg') 50% -37px no-repeat;
	}
}
a{

}
b, strong{
  font-weight: bold;
}
em{
  font-style: italic;
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
}
a, input, textarea, select, button, div{
  &:focus{
    outline: none;
  }
}
pre{
  word-wrap: break-word;
}